.footer{
    margin: 15px;
    box-sizing: border-box;
}

.row{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}